# Open AI JDK 사용할 때.
# AZURE_OAI_ENDPOINT="Your_Endpoint"
# AZURE_OAI_KEY="Your_API_Key"
# AZURE_OAI_DEPLOYMENT="Your_Model_Name"

# Azure Open AI JDK 사용할 때
AZURE_OAI_ENDPOINT="Your_Endpoint"
AZURE_OAI_KEY="Your_API_Key"
AZURE_OAI_DEPLOYMENT="Your_Model_Name"

AZURE_SEARCH_ENDPOINT="Your_Search_Endpoint"
AZURE_SEARCH_KEY="YYour_Search_API_Key"
AZURE_SEARCH_INDEX="Your_Search_Index_Name"