# Open AI JDK 사용할 때.
# AZURE_OAI_ENDPOINT="https://<endpoint>/openai/v1"

# Azure Open AI JDK 사용할 때
AZURE_OAI_ENDPOINT="https://<endpoint>/"
AZURE_OAI_KEY="Your_API_Key"
AZURE_OAI_DEPLOYMENT="gpt-4o-mini"